<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Welcome to ChatBot</h1>
        <p>An interactive website where you can chat with bots !</p>
    </div>

    <form method="post" action="login.php">
        <p>
            <label for="pseudo">Username : </label>
            <input type="text" name="pseudo" id="pseudo"/>
            <br />
            <label>Password : </label>
            <input type = "password" name = "pass" id = "pass"/>
        </p>
    </form>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>