<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>About ChatBot</h1>
        <p>ChatBot.com is a website developped by Benjamin Danjoux and Marie Peter for the Web Services module at ENSSAT Lannion</p>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>