<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h2>Create your Bot</h2>
        <div id ="listeSalons"></div>
        <form method="post" action="/createBot">
            <label for="botName">Name of the Bot: </label>
            <input type="string" name="botName" required>
            <div id ="listeSalons"></div>
            <input type="submit" value="Create">
        </form>
    </div>

    <script>
        var solSalonArray;

        var salonRequest = new Request("allSalonNames");
        fetch(salonRequest).then(function (response){
            return response.json();}).then(function (blob){
            solSalonArray = blob;
            console.log(blob);

            var text = "<label for=\"salon\">Lobby: </label><form id=\"salon\" name=\"salonName\" method = \"post\"><select name=\"salon\" size=\"1\"><option>No Lobby</option>";
            solSalonArray.forEach(function(elt) {
                text += "<option>" + elt.salonName;
            });
            text+="</select></form>";

            document.getElementById("listeSalons").innerHTML = text;
        });
    </script>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>