<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
     <h1>Lobby</h1>
     <p>Choose the lobby you want to chat in: </p>
        <form method="post" action="/chat">
            <label for="listeSalons">Choose a lobby: </label>
            <div id="listeSalons"></div>
            <input type="submit" value="Let's chat!">
        </form>
    </div>


        <script>
            var solSalonArray;

            var salonRequest = new Request("allSalonNames");
            fetch(salonRequest).then(function (response){
                return response.json();}).then(function (blob){
                solSalonArray = blob;
                console.log(blob);

                var text = "<form id=\"salon\" name=\"salonName\" method = \"post\"><select name=\"salon\" size=\"1\">";
                solSalonArray.forEach(function(elt) {
                    text += "<option>" + elt.salonName;
                });
                text+="</select></form>";

                document.getElementById("listeSalons").innerHTML = text;
            });
        </script>


        <!--
        <form method="post" action="/chat">
            <div id="listeBots"></div>
            <input type="submit" value="Let's chat!">
        </form>
    </div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>