<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

<main>
    <div class="jumbotron">
     <h1>Lobby</h1>
     <p>Choose the lobby you want to chat in: </p>
        <form method="post" action="/chat" id="bouton_chat">
            <label for="listeSalons">Choose a lobby: </label>
            <div id="listeSalons"></div>
            <input type="submit" value="Let's chat!">
        </form>
    </div>


        <script>
            var solSalonArray;

            var salonRequest = new Request("allSalonNames");
            fetch(salonRequest).then(function (response){
                return response.json();}).then(function (blob){
                solSalonArray = blob;
                console.log(blob);

                var i=0;
                var text = "<form id=\"salon\" name=\"salonName\" method = \"post\"><select name=\"salon\" size=\"1\">";
                solSalonArray.forEach(function(elt) {
                    text += "<option value=\""+i+"\">" + elt.salonName;
                });
                text+="</select></form>";

                document.getElementById("listeSalons").innerHTML = text;
            });

            $('#bouton_chat').submit(function () {
                console.log($("#bouton_chat :selected").val());
                var port = solSalonArray[$("#bouton_chat :selected").val()].salonPort;
                $.each([{'name' : 'port', 'value' : port}], function(i,param){
                    $('<input/>').attr('type', 'hidden')
                        .attr('name', param.name)
                        .attr('value', param.value)
                        .appendTo('#bouton_chat');
                });
                return true;
            });
        </script>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
