<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <h1>Log in</h1>
    <form method='post' action='/submit_login'>
        <input type="username" name="username" placeholder="username" required>
        <input type="password" name="password" placeholder="password" required>
        <button type="submit">submit</button>
    </form>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>